!!! 5
%html
  %head
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "/js/main.js"}
    %link{rel: :stylesheet, href: "/css/main.css"}
  %body
    #display
      %p
        Product selected:
        %span.product-name
      %p
        Price:
        %span.product-price &#xa3;0
      %p
        Money inserted:
        %span.money-inserted &#xa3;0
      %p
        Change:
        %span.change-given &#xa3;0
    #products
      - @products.each_with_index do |product, index|
        .product{"data-product-index" => index}
          .name
            Name:
            = product[:name]
          .price
            Price:
            = product[:price]
          .available
            Available:
            = product[:available]
    #coins
      %span.coin.pound{"data-coin-value" => 2} &#xa3;2
      %span.coin.pound{"data-coin-value" => 1} &#xa3;1
      %span.coin.pence{"data-coin-value" => 0.50} 50p
      %span.coin.pence{"data-coin-value" => 0.20} 20p
      %span.coin.pence{"data-coin-value" => 0.10} 10p
      %span.coin.pence{"data-coin-value" => 0.05} 5p
      %span.coin.pence{"data-coin-value" => 0.02} 2p
      %span.coin.pence{"data-coin-value" => 0.01} 1p
    #buttons
      %button.buy Buy
      %button.return-money Cancel and Return Money
